body
{
	background-color: #E0E0E0;
}

header
{
	background-color: #A4ADB0;
	text-align: center;
	color: white;
}
#body_center
{
	width : 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	background-color: white;
	font-size: 0.9em;
}
#first_part, #second_part, #third_part, #fourth_part, #fifth_part, #sixth_part, #seventh_part
{
	width: 300px;

}
footer
{
	background-color: #A4ADB0;
	text-align: center;
}
